
@charset "UTF-8";
body {
    font-family: "Times New Roman",Times,serif;
    font-size: 11px;
    margin: 0;
    width: 840px;
}
a {
    font-family: "Times New Roman",Times,serif;
    font-style: inherit;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.link {
    color: #996600;
    font-family: "Times New Roman",Times,serif;
}
.menu {
    color: #996600;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 11px;
    height: 75px;
    text-transform: uppercase;
    width: 525px;
}
.submenu-titulo {
    color: #000000;
    font-family: "Times New Roman",Times,serif;
    font-size: 13px;
}
.submenu-categorias {
    color: #000000;
    font-family: "courier";
    font-size: 11px;
}
.social img {
    max-height: 15px;
}
#social {
    float: left;
    margin-top: 40px;
}
.slider-txt {
    color: #000000;
    font-family: "Times New Roman",Times,serif;
    font-size: 11px;
    font-style: italic;
}
.ficha-ref {
    color: #000000;
    font-family: "courier",serif;
    font-size: 11px;
}
.ficha-titulo {
    color: #996600;
    font-family: "Times New Roman",Times,serif;
    font-size: 11px;
    font-style: italic;
}
.ficha-descripcion {
    color: #000000;
    font-family: "courier",serif;
    font-size: 11px;
}
.ficha-subrayado {
    color: #000000;
    font-family: "courier",serif;
    font-size: 11px;
}
.txt-normal {
    color: #000000;
    font-family: "Times New Roman",Times,serif;
    font-size: 11px;
    font-style: italic;
}
.txt-titulo1 {
    color: #996600;
    font-family: "Times New Roman",Times,serif;
    font-size: 13px;
    text-decoration: underline;
}
.txt-titulo2 {
    color: #996600;
    font-family: "Times New Roman",Times,serif;
    font-size: 13px;
    font-style: italic;
}
.wrapp_external {
    border: 4px solid #996600;
    height: 600px;
    margin-top: 3%;
    padding: 4px;
    width: 802px;
}
.wrapp {
    border: 1px solid #996600;
    height: 568px;
    padding-bottom: 30px;
    width: 800px;
}
.wrapp_external_ficha {
    border: 4px solid #996600;
    height: auto;
    margin-top: 3%;
    padding: 4px;
    width: 802px;
}
.wrapp_ficha {
    border: 1px solid #996600;
    height: auto;
    min-height: 568px;
    padding-bottom: 30px;
    width: 800px;
}
header {
    height: 115px;
    padding-left: 100px;
    padding-top: 40px;
    width: 600px;
}
.logo img {
    float: left;
    max-width: 75px;
}
.menu {
}
nav {
    color: #996600;
    float: left;
}
nav ul {
    display: inline-block;
    margin-left: -40px !important;
    margin-top: 35px;
}
nav ul li {
    display: inline-block;
    list-style: none outside none;
    position: relative;
    text-align: center;
}
nav a {
    color: #996600 !important;
    display: block !important;
    padding: 5px !important;
    text-decoration: none;
}
nav a:hover {
    color: black !important;
    text-decoration: underline;
}
nav li.sub a:hover {
    background-color: rgba(153, 102, 0, 0.5);
    color: black;
}
nav ul.secundario {
    font-size: 0.7em;
    left: -9999px;
    list-style: none outside none;
    margin-top: 0;
    position: absolute;
}
nav ul.secundario li {
    background-color: rgba(153, 102, 0, 0.5);
    border-top: 1px dotted white;
    color: black;
    float: none;
    padding-top: 1px;
    text-align: left;
    text-transform: capitalize;
    width: 75px;
    z-index: 999;
}
nav ul.secundario span {
    color: black !important;
    z-index: 3000;
}
nav ul.secundario a {
    color: black !important;
    white-space: nowrap;
}
nav li:hover ul.secundario {
    left: 0;
}
nav li:hover a .sub {
    background-color: rgba(153, 102, 0, 0.5);
    color: black;
}
nav li:hover ul.secundario a {
    text-decoration: none;
}
nav li:hover ul.secundario li a:hover {
    background-image: url("../images/image-mano.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 30px !important;
}
.social {
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}
.idioma {
    float: left;
    font-size: 0.71em;
    margin-left: 10px;
    margin-top: 42px;
}
.clear {
    clear: both;
    height: 1px;
    width: 100%;
}
.line {
    border-bottom: 1px solid #996600;
    height: 1px;
    width: 100%;
}
.productos {
    margin-left: 50px;
    margin-top: -35px;
}
.prod {
    float: left;
    height: 180px;
}
.prod img {
    margin-right: 50px;
    margin-top: 30px;
    max-width: 200px;
}
.prod:hover .blur {
    left: 0;
}
.prod a {
    z-index: 50;
}
.indicaciones {
    background-image: url("../images/image-mano.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin-bottom: 35px;
    margin-left: 100px;
    padding-left: 35px;
    padding-top: 3px;
    width: auto;
}
.last {
    color: #996600;
    font-style: italic;
}
.product-info {
    float: left;
    margin-right: 5px;
}
.separador {
    float: left;
    margin-right: 5px;
}
.paginacion {
    float: right;
    margin-right: 100px;
    width: 90px;
}
.next {
    float: right;
}
.next a {
    color: black;
    text-decoration: none;
}
.prev {
    float: right;
}
.prev a {
    color: black;
    text-decoration: none;
}
.paginas {
    float: right;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.nuevo {
    background-image: url("../images/image-new.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    margin-left: 150px;
    margin-top: -155px;
    position: relative;
    width: 50px;
    z-index: 999;
}
.vendido {
    background-image: url("../images/image-sold.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    margin-left: 150px;
    margin-top: -155px;
    position: relative;
    width: 50px;
    z-index: 999;
}
.nada {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    margin-left: 150px;
    margin-top: -155px;
    position: relative;
    width: 50px;
    z-index: 999;
}
.selected a {
    color: black !important;
    font-size: 0.97em;
    font-weight: bold;
    text-decoration: underline;
}
.idioma .selected {
    color: black !important;
    font-size: 0.95em;
    font-weight: bold;
    text-decoration: underline;
}
.wrap {
    margin-left: 100px;
    width: 660px;
}
.producto {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 5px;
}
.producto img {
    max-width: 300px;
}
.clear {
    clear: both;
    height: 1px;
    width: 100%;
}
.caract {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    width: 235px;
}
.ref {
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
    font-weight: bold;
}
.nombre {
    color: #996600;
    font-size: 0.9em;
    text-transform: uppercase;
}
.descripcion {
    color: #000000;
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
}
.datos_label {
    float: left;
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}
.datos {
    float: left;
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
    margin-left: 10px;
    max-width: 150px;
    text-decoration: none;
}
.relacionados {
    background-image: url("../images/arrow.gif");
    background-position: left center;
    background-size: 15px 15px;
    border: 1px dotted #CCCCCC;
    font-style: italic;
    height: 100px;
    margin-left: 100px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-decoration: underline;
    width: 600px;
}
.prod_rel {
    float: left;
    margin-right: 15px;
}
.prod_rel img {
    max-width: 100px;
}
.reservar {
    border: 1px double #996600;
    float: left;
    height: 20px;
    margin-top: 20px;
    text-align: center;
    width: 80px;
}
.magnifyarea {
    background: none repeat scroll 0 0 white;
    border: medium none #CCCCCC;
    box-shadow: 5px 5px 7px #818181;
}
#wrap_content {
    margin-left: 100px;
    overflow: hidden;
    width: 600px;
}
#cabecera {
    margin-bottom: 20px;
    width: 600px;
}
#columna-izquierda {
    border-right: medium dotted #996600;
    float: left;
    width: 290px;
}
#columna-derecha {
    float: right;
    width: 290px;
}
.cabecera-titulo {
    color: #996600;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}
.titulo {
    color: #996600;
    font-family: "Times New Roman",Times,serif;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}
.txt {
    color: #000000;
    font-family: "Times New Roman",Times,serif;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
}
#columna-izq {
    float: left;
    text-align: justify;
    width: 290px;
}
.blur {
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
    left: -5000px;
    padding-top: 5px;
    position: relative;
    top: 60px;
    width: auto;
}
.ref1 {
    color: #996600;
    font-style: italic;
    padding-left: 20px;
}
.dotted {
    border-bottom: 1px solid #996600;
    border-top: 1px dotted #996600;
    height: 1px;
    width: 80%;
}
.nomb {
    padding-left: 20px;
}
.banner {
    left: 550px;
    position: relative;
    top: -60px;
}
.banner_proyectos {
    left: 550px;
    position: relative;
    top: 0;
}
.reserva {
    margin-top: 25px;
}
.in {
    left: 0;
    position: relative;
    top: 0;
    z-index: 40;
}
.out {
    left: 0;
    position: relative;
    top: 0;
    z-index: 40;
}
