@charset "UTF-8";
/* CSS Document */


body {
    margin: 0;
    width: 840px; 
    
    font-family: "Times New Roman", Times, serif;
	font-size: 11px;
    
    /*margin:50px 0px; padding:0px;*/
	
}

a {
	font-family:"Times New Roman", Times, serif;
	font-style: inherit;
    text-decoration: none;
   
}
a:visited {
    
    text-decoration: none;
    color: black;
}
.link{
	font-family:"Times New Roman", Times, serif;
	color:#960;
}

.menu {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	color: #960;
    width: 525px;
    height: 75px;
    float: left;
    text-transform: uppercase;
}
.submenu-titulo {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	color: #000;
}
.submenu-categorias {
	font-family: "courier";
	font-size: 11px;
	color: #000;
}
.social img{
    max-height: 15px;
   
}
#social{
    float: left;
    margin-top: 40px;
}
.slider-txt {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	font-style:  italic;
	color: #000;
}

.ficha-ref {
	font-family: "courier", serif;
	font-size: 11px;
	color: #000;
}

.ficha-titulo {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	font-style:  italic;
	color: #960;
}
.ficha-descripcion {
	font-family: "courier", serif;
	font-size: 11px;
	color: #000;
}

.ficha-subrayado {
	font-family: "courier", serif;
	font-size: 11px;
	font-decoration: underline;
	color: #000;
}

.txt-normal {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	font-style:  italic;
	color: #000;
}

.txt-titulo1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	text-decoration: underline;
	color: #960;
}

.txt-titulo2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color: #960;
}

.wrapp_external{
    width: 802px;
    border: solid 4px #960;
    padding: 4px;
    height: 600px;
    margin-top: 3%;
}
.wrapp{
    width: 800px;
    height: 568px;
    border: 1px solid #960;
    padding-bottom: 30px;
    
    /*min-height: 600px;*/
}
.wrapp_external_ficha {
    
    width: 802px;
    border: solid 4px #960;
    padding: 4px;
    height: auto;
    margin-top: 3%;
}
.wrapp_ficha {
    
    width: 800px;
    height: auto;
    border: 1px solid #960;
    padding-bottom: 30px;
    min-height: 568px;
}

header {
    width: 600px;
    height: 115px;
    padding-top: 40px;
    padding-left: 100px;
 
}

.logo img{
    max-width: 75px;
    /*height: 75px;*/
    float: left;
}
.menu {
    
}

nav {
    float: left;
    color:  #960 ;
}
nav ul{
    display: inline-block;
    margin-left: -40px !important;
    margin-top: 35px;
    /*float: left;*/
}
nav ul li{
    list-style: none;
    display: inline-block;
    
    text-align: center;
    
    
    position: relative;
    /*float: left;*/
}
nav a{
	display:block !important;
	padding:5px !important;
	color:#960 !important;	
	text-decoration:none;
}

nav a:hover{
    color: black!important;
    text-decoration:underline;
}

nav li.sub a:hover{
	background-color: rgba( 153, 102, 0, 0.5);
    color: black; 
    
}

/**Drop Down **/
nav ul.secundario{
	/*background:#fff;*/ /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	/*background:rgba(255,255,255,0);*/ /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    margin-top: 0;
    font-size: 0.7em;
}

nav ul.secundario li{
	/*margin-top: -35px;*/
    padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
    
    border-top: dotted 1px white;
   
    background-color: rgba( 153, 102, 0, 0.5);
    color: black;
    z-index: 999;
    width: 75px;
    text-align: left; 
    text-transform: capitalize;
    
    
    

}


nav ul.secundario span{
    color: black !important;
    z-index: 3000;
}
nav ul.secundario a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    color:black !important;
}
nav li:hover ul.secundario{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}

nav li:hover a .sub{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	
   background-color: rgba( 153, 102, 0, 0.5);
   color: black;
    
}
nav li:hover ul.secundario a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
nav li:hover ul.secundario li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background-image: url("../images/image-mano.png");
    background-repeat: no-repeat ;
    background-position: left;
    background-size:25px 25px;
    
    padding-left:30px !important;
    
}

.social{
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}
.idioma{
    float: left;
    font-size: 0.71em;
    margin-left: 10px;
    margin-top: 42px;
    
}
.clear{
    clear: both;
    width: 100%;
    height: 1px;
}
.line {
    border-bottom: solid 1px #960;
    width: 100%;
    height: 1px;
}

.productos {
    margin-top: -35px;
    margin-left: 50px;
}
.prod {
    float: left;
    height: 180px;
}

.prod img {
    margin-right: 50px;
    margin-top: 30px;
    max-width: 200px;
   

    
}

.prod:hover .blur{
  left: 0;    
}

.prod a{
    z-index: 50;

    
}

.indicaciones {
    padding-left: 35px;
    padding-top: 3px;
    margin-bottom: 35px;
    margin-left: 100px;
    width: auto;
    background-image: url("../images/image-mano.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px 30px;
    
}
.last {
   color: #960; 
   font-style:  italic;
   
}

.product-info {
    float: left;
    margin-right: 5px;
}

.separador {
    float: left;
    margin-right: 5px;
}

.paginacion{
    float: right;
    margin-right: 100px;
    width: 90px;
}
.next{
    float: right;
}
.next a{
    text-decoration: none;
    color: black;
}

.prev {
    float: right;
}
.prev a{
    text-decoration: none;
    color: black;
}

.paginas{
    float: right;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.nuevo{
    background-image: url("../images/image-new.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: top left;
    height: 50px;
    width: 50px;
    z-index: 999;
    margin-left: 150px;
    margin-top: -155px;
    position: relative;

}

.vendido{
    background-image: url("../images/image-sold.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: top left;
    height: 50px;
    width: 50px;
    z-index: 999;
    margin-left: 150px;
    margin-top: -155px;
    position: relative;

}
.nada{
    
   
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: top left;
    height: 50px;
    width: 50px;
    z-index: 999;
    margin-left: 150px;
    margin-top: -155px;
    position: relative;
}
.selected a{
    color: black!important;
    text-decoration:underline;
    font-weight: bold;
    font-size: 0.97em;
}
.idioma .selected {
    color: black!important;
    text-decoration:underline;
    font-weight: bold;
    font-size: 0.95em;
}
/*** fichaProducto ***/
.wrap{
    
    width: 660px;
    margin-left: 100px;
}

.producto {
    
    float: left; 
    border:solid 1px #ccc;
    margin:5px;
}
.producto img{
    
    max-width:300px;
    
}
.clear{
    clear: both;
    width: 100%;
    height: 1px;
}

.caract{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    width: 235px;
}

.ref{
	font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

.nombre{
    font-size: 0.9em;
    color: #960;
    text-transform:uppercase
}
.descripcion{
	font-family: "Courier New", Courier, monospace;
  font-size: 1em;  
  color: #000;
}
.datos_label{
	font-family:"Courier New", Courier, monospace;
	text-decoration:underline;
    float: left;
    font-weight: bold;
    font-size: 1em;
    
}
.datos{
	font-family:"Courier New", Courier, monospace;
    margin-left: 10px;
    float: left;
    font-size: 1em;
    max-width: 150px;
	text-decoration:none;
}

.relacionados{
    text-decoration: underline;
    font-style: italic;
    background-image: url("../images/arrow.gif");
    background-position: left;
    background-size: 15px 15px;
    padding-left: 20px;
    
    margin-left: 100px;
    
    margin-top: 20px;
    padding-bottom: 20px;
    
    border: 1px dotted #ccc;
   
   
    
    height: 100px;
    width: 600px;   
    
}
.prod_rel {
    float: left;
    margin-right: 15px;
}

.prod_rel img{
    max-width: 100px;
}

.reservar{
 	border: 1px double #960 ;
    float: left;
    height: 20px;
    text-align: center;
    width: 80px;
    margin-top: 20px;
}

/**** lupa ***/

.magnifyarea{ /* CSS to add shadow to magnified image. Optional */
    box-shadow: 5px 5px 7px #818181;
    -webkit-box-shadow: 5px 5px 7px #818181;
    -moz-box-shadow: 5px 5px 7px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);
    background: white;
    border: #ccc;
    }
/** fin lupa **/

/* mandandos por pri */



/* --condiciones ---*/

#wrap_content{
	width:600px;
	overflow:hidden;
    margin-left: 100px;
}
#cabecera{
	width:600px;
	vertical-align:central;
     margin-bottom: 20px;
}

#columna-izquierda{
	width:290px;
	float:left;
	border-right:dotted;
	border-right-color:#960;
   
}
#columna-derecha{
	width:290px;
	float:right;
}

.cabecera-titulo{
	font-family:"Times New Roman", Times, serif;
	font-style:normal;
	font-weight:bold;
	font-size:14px;
	color:#960;
	text-decoration:underline;
}
.titulo{
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-size:12px;
	color:#960;
	text-decoration:underline;
}
.txt{
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-size:12px;
	color: #000;
	text-decoration:none;
}
/* --proyectos ---*/
#columna-izq{
	width:290px;
	float:left;
    text-align: justify;
    elevation:lower;
}


/*** listaProducto***/
.blur {
    
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
    padding-top: 5px;
    position: relative;
    top: 60px;
    width: auto;
    left: -5000px;
}

.ref1{
    
    color: #960;
    font-style: italic;
    padding-left: 20px;
    
}
.dotted{
    width: 80%;
    height: 1px;
    border-top: 1px dotted #960;
    border-bottom: 1px solid #960;
    
}
.nomb{
    padding-left: 20px;
}

.banner {
    left: 550px;
    position: relative;
    top: -60px;
}
.banner_proyectos {
    left: 550px;
    position: relative;
    top: 0;
}

.reserva{
     margin-top: 25px;
}

.in{
    position: relative;
    top: 0;
    left: 0;
    z-index: 40;
}
.out{
    position: relative;
    top: 0;
    left: 0;
    z-index: 40;
}