
html {font-size:100.01%}
html, body {
	width:100%;
	margin:0;
	padding:0;
	height:100%;
	overflow:scroll-y;
}


body {
	font:11px arial,sans-serif;
	color:#000;
	background:#000;
	min-width:980px;
	width:100%;
	font-size:62.5%;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover {text-decoration:underline;}
a:focus {outline:none}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form,fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
img {border-style:none}
#background {
	position:absolute;
	z-index:1;
	width:100%;
/*	height:100%;*/
	min-width:980px;
}
#background img {display:block}
#main {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:2;
	min-width:980px;
}
h1.logo {
	margin:0;
	position:absolute;
	top:16px;
	left:7px;
	z-index:10;
}

h1.title {
	margin:0;
	position:absolute;
	top:16px;
	left:10px;
	z-index:10;
    background-color: white;
    width: 100%;
    opacity: 0.3;
}
.logo a {
	display:block;
	background:url(../images/logo.png) no-repeat;
	_background:url(../images/logo.gif) no-repeat;
	width:198px;
	height:59px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0;
}
#header {
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.header {
	width:100%;
	height:92px;
	padding:9px 0 0;
	overflow:hidden;
}
.breadcrumb {
	float:right;
	padding:0;
	margin:0;
	list-style:none;
}
.breadcrumb li {
	display:inline;
	padding:0 5px 0 9px;
	background:url(../images/separator01.gif) no-repeat 0 50%;
}
.breadcrumb li:first-child {background:none}
.breadcrumb li a {
	font:130%/110% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#9e9983;
}
#content {
	width:100%;
	padding:101px 0 0;
	position:relative;
}
#inner #content {
	padding:0;
	min-height:100%;
}
* html #inner #content { height:100% }
#content:after {
	clear:both;
	display:block;
	content:"";
}
#menu {width:100%}
#menu:after {
	clear:both;
	display:block;
	content:"";
}
#menu .part {width:100%}
#menu .part:after {
	clear:both;
	display:block;
	content:"";
}
#menu .holder {height:30px;}
#menu .holder:after {
	clear:both;
	display:block;
	content:"";
}
.cherry .holder {padding:0 0 0 173px}
.purple .holder {padding:0 0 0 216px}
.red .holder {padding:0 0 0 109px}
.orange .holder {padding:0 0 0 180px}
.brown .holder {padding:0 0 0 135px}
#menu .btn {
	float:left;
	padding:5px 0 5px 19px;
	display:inline;
	height:20px;
}
#menu .nav {
	float:left;
	width:100%;
	height:30px;
}
#menu .cherry .btn {
	background:#6f0434;
	width:154px;
	padding:6px 0 4px 19px;
	margin:0 0 0 -173px;
}
#menu .cherry .nav {background:#6f0434}
#menu .purple .btn {
	background:#f30372;
	width:197px;
	padding:3px 0 7px 19px;
	margin:0 0 0 -216px;
}
#menu .purple .nav {background:#f30372}
#menu .red .btn {
	background:#c1140e;
	width:90px;
	padding:3px 0 7px 19px;
	margin:0 0 0 -109px;
}
#menu .red .nav {background:#c1140e}
#menu .orange .btn {
	background:#fc5008;
	width:161px;
	margin:0 0 0 -180px;
}
#menu .orange .nav {background:#fc5008}
#menu .brown .btn {
	background:#5e2b14;
	width:116px;
	margin:0 0 0 -135px;
}
#menu .brown .nav {background:#5e2b14}
#menu .btn a {
	display:block;
	overflow:hidden;
	height:20px;
	text-indent:-9999px;
}
#menu .cherry .btn a {
	background: transparent url(../images/btn_sprites.gif) 0 0 no-repeat;
	_background:url(../images/btn01.gif) no-repeat;
	width:131px;
}
#menu .purple .btn a {
	background: transparent url(../images/btn_sprites.gif) 0 -20px no-repeat;
	_background:url(../images/btn02.gif) no-repeat;
	width:174px;
}
#menu .red .btn a {
	background: transparent url(../images/btn_sprites.gif) 0 -40px no-repeat;
	_background:url(../images/btn03.gif) no-repeat;
	width:70px;
}
#menu .orange .btn a {
	background: transparent url(../images/btn_sprites.gif) 0 -60px no-repeat;
	_background:url(../images/btn04.gif) no-repeat;
	width:119px;
}
#menu .brown .btn a {
	background: transparent url(../images/btn_sprites.gif) 0 -80px no-repeat;
	_background:url(../images/btn05.gif) no-repeat;
	width:94px;
}

#menu .nav div.stitre {
	float:right;
	padding:3px 7px 0 0;
	margin:0;
	font:bold 15px/26px Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#fff;
}


#menu .nav span.nav_move {
	position: absolute;
	display:none;
	width: 104px;
	height: 12px;
	padding:3px 12px 12px 12px;
	margin-top: 3px;
	background:url(../images/bg-nav.gif) repeat-x;
	left: 1200px;
	z-index:1;
}

#menu .nav ul {
	float:right;
	padding:3px 7px 0 0;
	margin:0;
	list-style:none;
	z-index:10;
}

#menu .nav ul li {
	float:left;
	z-index:10;
}
#menu .nav ul li a {
	float:left;
	font:bold 15px/26px Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#fff;
	padding:1px 12px 0;
	z-index:10;
}
#menu .nav ul li a:hover {
	background:url(../images/bg-nav.gif) repeat-x;
	text-decoration:none;
	z-index:10;
}
#menu .cherry .nav ul li a:hover {color:#6f0434}
#menu .nav ul li a.active {background:url(../images/bg-nav.gif) repeat-x}
#menu .cherry .nav ul li a.active {color:#6f0434}
#menu .purple .nav ul li a:hover {color:#f30372;}
#menu .purple .nav ul li a.active {
color:#f30372;
background:url(../images/bg-nav1.gif) repeat-x;}
#menu .orange .nav ul li a.active,
#menu .orange .nav ul li a:hover {
	background:url(../images/bg-nav1.gif) repeat-x;
	color:#FC5008;
}
#menu .brown .nav ul li a.active,
#menu .brown .nav ul li a:hover {
	background:url(../images/bg-nav1.gif) repeat-x;
	color:#5E2B14;
}


#menu .red .nav ul li a:hover {
	color:#c1140e;
}
#menu .red .nav ul li a.active {
	color:#c1140e;
}
.info-box {
	overflow: hidden;
	position: relative;
	background:url(../images/bg1.png) repeat;
	width:100%;
}
.info-box:after {
	clear:both;
	display:block;
	content:"";
}
.info {
	position:relative;
	padding:26px 0 14px;
	min-height:310px;
}
.info:after {
	clear:both;
	display:block;
	content:"";
}
* html .info {height:310px}
.btn-prev {
	float:left;
	width:5%;
	margin:134px 0 0;
}
.btn-prev a {
	display:block;
	width:16px;
	height:32px;
	margin:0 0 0 19px;
	text-indent:-9999px;
}

.red .btn-prev a {background:url(../images/arrows/arrow-prev-red.png) no-repeat;}
.purple .btn-prev a {background:url(../images/arrows/arrow-prev-purple.png) no-repeat;}
.orange .btn-prev a {background:url(../images/arrows/arrow-prev-orange.png) no-repeat;}
.cherry .btn-prev a {background:url(../images/arrows/arrow-prev-cherry.png) no-repeat;}
.brown .btn-prev a {background:url(../images/arrows/arrow-prev-brown.png) no-repeat;}
.btn-prev a:hover {background:url(../images/arrows/arrow-prev-over.png) no-repeat}

.arrow-prev {
	float:left;
	width:19px;
	margin:134px 0 0 -19px;
	display:inline;
}
.arrow-prev a {
	display:block;
	width:16px;
	height:32px;
	margin:0 0 0 3px;
	text-indent:-9999px;
}

.red .arrow-prev a {background:url(../images/arrows/arrow-prev-red.png) no-repeat;}
.purple .arrow-prev a {background:url(../images/arrows/arrow-prev-purple.png) no-repeat;}
.orange .arrow-prev a {background:url(../images/arrows/arrow-prev-orange.png) no-repeat;}
.cherry .arrow-prev a {background:url(../images/arrows/arrow-prev-cherry.png) no-repeat;}
.brown .arrow-prev a {background:url(../images/arrows/arrow-prev-brown.png) no-repeat;}
.arrow-prev a:hover {background:url(../images/arrows/arrow-prev-over.png) no-repeat}

.btn-next {
	float:left;
	width:4%;
	margin:134px 0 0 0;
}
.btn-next a {
	display:block;
	width:16px;
	height:32px;
	margin:0 0 0 19px;
	text-indent:-9999px;
}

.red .btn-next a {background:url(../images/arrows/arrow-next-red.png) no-repeat;}
.purple .btn-next a {background:url(../images/arrows/arrow-next-purple.png) no-repeat;}
.orange .btn-next a {background:url(../images/arrows/arrow-next-orange.png) no-repeat;}
.cherry .btn-next a {background:url(../images/arrows/arrow-next-cherry.png) no-repeat;}
.brown .btn-next a {background:url(../images/arrows/arrow-next-brown.png) no-repeat;}
.btn-next a:hover {background:url(../images/arrows/arrow-next-over.png) no-repeat}


.arrow-next {
	float:left;
	width:19px;
	margin:134px -19px 0 0;
	display:inline;
}
.arrow-next a {
	display:block;
	width:16px;
	height:32px;
	margin:0 0 0 3px;
	text-indent:-9999px;
}
.red .arrow-next a {background:url(../images/arrows/arrow-next-red.png) no-repeat;}
.purple .arrow-next a {background:url(../images/arrows/arrow-next-purple.png) no-repeat;}
.orange .arrow-next a {background:url(../images/arrows/arrow-next-orange.png) no-repeat;}
.cherry .arrow-next a {background:url(../images/arrows/arrow-next-cherry.png) no-repeat;}
.brown .arrow-next a {background:url(../images/arrows/arrow-next-brown.png) no-repeat;}
.arrow-next a:hover {background:url(../images/arrows/arrow-next-over.png) no-repeat}


.info-scroll {
	float:left;
	width:90%;
}
.info-scroller {
	float:left;
	width:100%;
}
.info-holder {
	position:relative;
	z-index:100;
}
.info .bg {
	position:absolute;
	top:0;
	left:0;	height:42px;
	width:100%;
	z-index:0;
}
.info .bg div {
	/*background:url(../images/bg2.png) repeat-x;
	height:42px;*/
	background-position:left top;
	width:100%;
	overflow:hidden;
	z-index:0;
	text-indent:-9999px;
}
.info h2 {
	font:180%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#6f0434;
	margin:0;
}

.info  {
/*	background:url(../images/bg2.png) repeat-x;*/
}

.info_back  {
	background:url(../images/bg2.png) repeat-x;
	height:350px;
	display:none;
	overflow: hidden;
}


.info h2 A {
	color:#6f0434;
}

.info h3 {
	font:bold 140%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	margin:0;
}
.info p {
font:130%/130% Calibri, "Trebuchet MS", Arial, sans-serif;
color:#121212;
margin-top:4px;
}

.info p {
margin-bottom:0px;
}
.info p a {
/*font:100%/110% Calibri, "Trebuchet MS", Arial, sans-serif;*/
/*	color:#6f0434;*/
	text-decoration:underline;
}
.info p a:hover {text-decoration:none}
.columns {
	width:100%;
	margin:14px 0 0;
	overflow:hidden;
}
.top {margin:-6px 0 0}
.column {
	float:left;
	width:25%;
}
.one {width:24%}
.wide {width:33%}
.column-info {
	width:214px;
	overflow:hidden;
}
.one .column-info {width:214px}
.wide .column-info {width:266px}
.column .list {
	width:214px;
	padding:0;
	margin:0;
	overflow:hidden;
	list-style:none;
}
.column .list li {
	font:130%/130% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	width:214px;
/*	margin:5px 0 0;*/
}
.column .list li span {
	font:100%/100% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	background:url(../images/separator02.gif) no-repeat 0 7px;
	padding:0 0 0 8px;
}
.column .list li a {
	font:100%/110% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
}
.item {
	position:absolute;
	top:440px;
	right:27px;
	z-index:200;
}
.info .item {
	top:auto;
	bottom:-87px;
}
.red .info .item {bottom:-57px}
.info-holder {padding:0 0 0 19px}
#content .item a {
	display:block;
	background:url(../images/item.png) no-repeat;
	_background:url(../images/item.gif) no-repeat;
	width:128px;
	height:129px;
	text-indent:-9999px;
}
.search {
	width:214px;
	margin:2px 0 0;
	overflow:hidden;
}
.search span {
	float:left;
	background:url(../images/bg-input1.gif) no-repeat;
	width:170px;
	height:14px;
	padding:4px 6px;
	margin:4px 0 0;
}
.search a.btn-go {
	float:right;
	background:url(../images/btn-go.png) no-repeat;
	width:29px;
	height:29px;
	text-indent:-9999px;
}
.search span input {
	float:left;
	font:12px/14px Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	width:170px;
	padding:0;
	background:none;
	border:none;
}
.photo-holder {
	width:266px;
	overflow:hidden;
}
.photo-holder .photo {
	float:left;
	width:50px;
	margin:0 7px 0 0;
}
.photo-holder .photo img, .column-info .photo img {
	display:block;
	border:1px solid #fff;
}
.photo-holder .text {
	float:left;
	width:209px;
}
.photo-holder ul {
	width:209px;
	padding:0;
	margin:2px 0 0;
	overflow:hidden;
	list-style:none;
}
.photo-holder ul li {
	float:left;
	margin:0 11px 0 0;
}
.photo-holder ul li a {
	float:left;
	font:11px/14px "Trebuchet MS", Arial, sans-serif;
	color:#454440;
	padding:0 0 0 12px;
}
.photo-holder ul li a.ico-contact {background:url(../images/ico01.gif) no-repeat 0 50%}
.photo-holder ul li a.ico-profil {background:url(../images/ico02.gif) no-repeat 0 50%}
.info .photo-holder .text h2 {font:180%/110% Calibri, "Trebuchet MS", Arial, sans-serif;}
.info .photo-holder .text h3 {font:italic 150%/110% Calibri, "Trebuchet MS", Arial, sans-serif}
.info .wide p {margin:10px 0 0}
.product-holder {
	padding:0 0 0 280px;
	position:relative;
	z-index:100;
	height:1%;
}
.product-info {
	float:left;
	width:231px;
	padding:0 30px 0 19px;
	margin:0 0 0 -280px;
	display:inline;
}
.info .product-info h2 {color:#f30372}
.info .product-info p {
	/*font:180%/120% Calibri, "Trebuchet MS", Arial, sans-serif;*/
	font:150%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	margin:0;
}
.info .product-info p a {
	font:100%/110% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#f30372;
	text-decoration:underline;
}
.info .product-info p a:hover {text-decoration:none}

/****** Nouvelle version des produits , PBCC090825 **************/

div.product-list div {
	display : block;
	position : relative;
	float: left;
	width: 19%;
	text-align: center;
	bottom: 5px;
}

div.product-list div.iphone {
	margin-top: 70px;
}

div.product-list div.iphone-on {
}

div.product-list div span {
	display : block;
	text-align: center;
	margin-top: -20px;
	font:130%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
}

div.product-list div.iphone-on span {
	margin-top: -30px;
	color: #F30372;
	font:130%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
}

.product-list ul.demo {
	float:left;
	width: 20%;
}
.product-list ul.demo li.last p a{
	width: 150px;
	display:block;
}

.search-box {
	width:231px;
	margin:30px 0 0;
	overflow:hidden;
}
.colum1 .search-box {margin:0}
.info .product-info .search-box p {font:140%/120% Calibri, "Trebuchet MS", Arial, sans-serif}
.search-box .search {width:231px}
.search-box .search span {
	background:url(../images/bg-input2.gif) no-repeat;
	width:184px;
}
.search-box .search span input {width:184px}
.search-box .search a.btn-go {background:url(../images/btn-go1.png) no-repeat}
.colum1 .search-box .search a.btn-go {background:url(../images/btn-go2.png) no-repeat}
.product-list {
	float:left;
	width:100%;
}
.product-list ul {
	width:100%;
	padding:0;
	margin:6px 0 0;
	overflow:hidden;
	list-style:none;
}
.product-list ul li {
	float:left;
	width:20%;
}
.product-list ul li.last {width:19%}
.product-list .photo {
/*	width:123px;*/
	padding:0 4px;
	overflow:hidden;
}
.product-list .photo a {
	display:block;
	cursor:pointer;
}
.product-list .photo img {display:block}
.product-list .text {
	width:131px;
	margin:-8px 0 0;
	position:relative;
	overflow:hidden;
}

.product-list .text p {text-align:center}


.info .product-info .text p {font:130%/120% Calibri, "Trebuchet MS", Arial, sans-serif}
.colums {
	width:100%;
	overflow:hidden;
}
.colums-padd {
	float:left;
	width:2%;
}
.colums-part {
	float:left;
	width:97%;
}
.colums-holder {padding:0 0 0 255px;}
.colum1 {
	float:left;
	width:255px;
	margin:0 0 0 -255px;
	display:inline;
}
.colum1-info {
	width:255px;
	overflow:hidden;
	margin:-15px 0 0;
}
.info .colum1 h2 {
	font:150%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
/*	color:#C1140E;*/
	margin:15px 0 0;
}
.info .colum1 .search-box h2 {
color:#C1140E;

}
.cherry h2,.cherry A,.cherry h2 A,.cherry h3 A {color:#6F0434;}
.purple h2,.purple A,.purple h2 A,.purple h3 A {color:#F30372;}
.red h2,.red A,.red h2 A,.red h3 A {color:#C1140E;}
.orange h2,.orange A,.orange h2 A,.orange h3 A {color:#FC5008;}
.brown h2,.brown A,.brown h2 A,.brown h3 A {color:#5E2B14;}


.colum1 .new {
	width:100%;
	margin:2px 0 0;
	overflow:hidden;
}
.info .colum1 .new p {
	font:130%/130% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	margin:0;
}
.info .colum1 .new p a {
	font:13px/18px Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#c1140e;
	padding:1px 0 1px 20px;
	background:url(../images/arrow.gif) no-repeat 0 50%;
}
.info .colum1 ul {
	width:255px;
	padding:0;
	margin:0;
	overflow:hidden;
	list-style:none;
}
.info .colum1 ul li {
	width:255px;
	margin:3px 0 0;
}
.info .colum1 ul li a {
	font:130%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#c1140e;
	text-decoration:underline;
}
.info .colum1 ul li a:hover {text-decoration:none}

.colum2 {
	float:left;
	width:100%;
}
.colum2-padd {
	float:left;
	width:2%;
}
.par .colum2-padd {width:1%}
.colum2-info {
	float:left;
	width:97%;
}
.colum2-holder {padding:0 19px}
.boxes {
	float:left;
	width:41%;
	margin:-8px 0 0;
}
.par .boxes {width:29%}
.wider {width:44%}
.par .wider {width:31%}
.boxes-padd {
	float:left;
	width:5%;
}
.par .boxes-padd {width:3%}
.boxes-padd1 {
	float:left;
	width:6%;
}
.par .boxes-padd1 {width:3%}
.box {
	width:273px;
	overflow:hidden;
	/*margin:8px auto 0;*/
	margin-left: auto;
	margin-right:auto;
}
.box-top {
	background:url(../images/box-top.png) no-repeat;
	width:273px;
	height:11px;
	overflow:hidden;
}
.box-info {
	background:url(../images/box-bg.png) repeat-y;
	width:273px;
	overflow:hidden;
}
.box-holder {
	width:258px;
	padding:0 5px 0 10px;
	overflow:hidden;
	position:relative;
}
.box .photo {
	float:left;
	padding:1px;
	border:1px solid #d6d6d6;
	width:112px;
}
.box .photo img {display:block}
.box .text {
	float:left;
	width:135px;
	padding:0 0 0 7px;
}
.info .box h3 {
	font:bold 140%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#414141;
	margin:0;
}
.info .box p {
	font:130%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#414141;
}
.info .box p a {color:#cd433e}
.info .box em {
	display:block;
	font:130%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#414141;
	margin:26px 0 0;
}
.box-foot {
	background:url(../images/box-foot.png) no-repeat;
	width:273px;
	height:11px;
	overflow:hidden;
}
/*AJOUT 030509*/
.menu_boxes{
	margin-top: 0px;
	z-index: 10000;
}
.menu_boxes ul {
/*margin-left: 4%;*/
/*margin-left: -4%;*/
margin-left: -53px;
		z-index: 10000;
		position:absolute;
		margin-top: -22px;
}
.menu_boxes ul li {
	display: inline;
}
.menu_boxes ul li a {
	font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
	font-size: 16px;
	/*font-weight: bold;*/
	font-weight:normal;
	text-decoration:underline;
	/*margin-right: 5px;*/
	z-index:10000;
}
.menu_boxes ul li a:hover {
	text-decoration:none;
}
.menu_boxes ul li {
	font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
	font-size: 16px;
	/*font-weight: bold;*/
	font-weight:normal;
	/*margin-left: 5px;*/
	margin-right: 10px;
	z-index:10000;
}
.column-info1 .bloc_contact .new  {

margin-bottom:20px;
}
.column-info1 .bloc_contact .new p {
-x-system-font:none;
color:#121212;
font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
font-size:130%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:130%;
margin:0;
}

.column-info1 .bloc_contact h2 {
-x-system-font:none;
font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
font-size:150%;
color:#121212;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:120%;
margin:0px 0 0;
}

.column-info1 .bloc_contact .search-box {
margin:0px 0 0;
color:#FC5008;
overflow:hidden;
width:231px;
}
.column-info1 .bloc_contact .search-box h2 {
color:#FC5008;
	margin-top:0px;
}

p.stage_paragraphe {
margin-bottom: 0px;
}
.colum1-info .search-box h2 {
margin-top:0;
}
.column-info-recrutement {
width:255px;
}
.column-info-recrutement .search-box {
margin-top:0px;
padding: 0px;
}
.bloc_contact .search-box .search a.btn-go {
background:transparent url(../images/btn-go_orange.png) no-repeat scroll 0 0;
}
.column-info-recrutement .search-box .search a.btn-go {
background:transparent url(../images/btn-go_marron.png) no-repeat scroll 0 0;
}
p.abonnement {
margin:0px;
}

.bloc_contact .new p a {
-x-system-font:none;
background:transparent url(../images/arrow_orange.gif) no-repeat scroll 0 50%;
color:#FC5008;
font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:18px;
padding:1px 0 1px 20px;
}

.column-info-recrutement .new p a {
-x-system-font:none;
background:transparent url(../images/arrow_marron.gif) no-repeat scroll 0 50%;
color:#5E2B14;
font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:18px;
padding:1px 0 1px 20px;
}
p.recrutement {
margin-top:10px;
margin-bottom:0px;
}

.text2 h3 {
margin-top:4px;
-x-system-font:none;
font-family:Calibri,"Trebuchet MS",Arial,sans-serif;
font-size:150%;
font-size-adjust:none;
font-stretch:normal;
font-style:italic;
font-variant:normal;
font-weight:normal;
line-height:110%;
}

.btn-prev span.inactive_previous {
display:block;
height:32px;
margin:0 0 0 19px;
text-indent:-9999px;
width:16px;
filter:alpha(opacity=20); /* IE */
-moz-opacity:0.2; /* Mozilla */
-khtml-opacity: 0.2; /* Safari */
opacity: 0.2; /* CSS3 */
background:transparent url(../images/arrows/arrow-prev-over.png) no-repeat scroll 0 0;
}
.btn-next span.inactive_next {
display:block;
height:32px;
margin:0 0 0 19px;
text-indent:-9999px;
width:16px;
filter:alpha(opacity=20); /* IE */
-moz-opacity:0.2; /* Mozilla */
-khtml-opacity: 0.2; /* Safari */
opacity: 0.2; /* CSS3 */
background:transparent url(../images/arrows/arrow-next-over.png) no-repeat scroll 0 0;
}

.arrow-prev span.inactive_previous{
/*display:block;*/
float:left;
margin:0 0 0 3px;
text-indent:-9999px;
height:32px;
width:16px;
filter:alpha(opacity=20); /* IE */
-moz-opacity:0.2; /* Mozilla */
-khtml-opacity: 0.2; /* Safari */
opacity: 0.2; /* CSS3 */
background:transparent url(../images/arrows/arrow-prev-over.png) no-repeat scroll 0 0;
}
 .arrow-next span.inactive_next {
/*display:block;*/
float:left;
margin:0 0 0 3px;
text-indent:-9999px;
height:32px;
width:16px;
filter:alpha(opacity=20); /* IE */
-moz-opacity:0.2; /* Mozilla */
-khtml-opacity: 0.2; /* Safari */
opacity: 0.2; /* CSS3 */
background:transparent url(../images/arrows/arrow-next-over.png) no-repeat scroll 0 0;
}

.recrutement_new p {
padding:0px;
margin-top:0px;
padding-bottom:0px;
}
.recrutement_new {
padding:0px;
margin-top:0px;
padding-bottom:0px;
}
.recrutement_new p a {
display:block;
padding-bottom:10px;
margin-top:0px;
margin-bottom:10px;
}
/* BLOC GOOGLE PAGE CONTACT */
.google_map_column-info {
width:300px;
display:block;float:left;
border:1px solid red;
}
.google_column {
width: 32%;
float:left;
}

/* JQ ZOOM */
div.jqZoomTitle
{
	z-index:5000;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	height:16px;
	padding-top:2px;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #FFF;
	background: #999;

}

.jqZoomPup
{
		overflow:hidden;
		background-color: #FFF;
		-moz-opacity:0.6;
		opacity: 0.6;
		filter: alpha(opacity = 60);
		z-index:10;
		border-color:#c4c4c4;
		border-style: solid;
		cursor:crosshair;
}

.jqZoomPup img
{
	border: 0px;
}

.preload{
	-moz-opacity:0.8;
	opacity: 0.8;
   filter: alpha(opacity = 80);
	color: #333;
	font-size: 12px;
	font-family: Tahoma;
   text-decoration: none;
	border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
	text-align:center;
   background-image: url(../images/loader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
	width:90px;
	* width:100px;
	height:43px;
	*height:55px;
	z-index:10;
	position:absolute;
	top:3px;
	left:3px;

}

.jqZoomWindow
{
	border: 1px solid #999;
	background-color: #FFF;
}


/* Inpire Me */
.inspire {
	background:url(../images/grid.png);
	_background:url(../images/pixel.gif);
	width:100%;
	padding:0;
	min-height:100%;
}
* html .inspire {
	height:100%;
	position: fixed;
}
.parts {
	margin:9px 0 0;
	width:100%;
	height: 129px;
	overflow:hidden;
}
.up {
	margin: 0;
	/*padding: 30px 0 0;*/
	padding: 10px 0 0;
}
.parts .part {
	float:left;
/*	width:14%;*/
	position:relative;
}
.parts .part a.btn-quest {
	display:block;
	background:url(../images/item-quest.png) no-repeat;
	_background:url(../images/item-quest.gif) no-repeat;
	width:135px;
	height:129px;
	margin:0 auto;
	text-indent:-9999px;
}
.parts .part a.btn-quest:hover {
	background:url(../images/item-quest-over.png) no-repeat;
	_background:url(../images/item-quest-over.gif) no-repeat;
}

.parts .part a.active {
	display:block;
	background:url(../images/item-quest-close.png) no-repeat;
	_background:url(../images/item-quest-close.gif) no-repeat;
	width:135px;
	height:129px;
	margin:0 auto;
	text-indent:-9999px;
}

.question {
	width: 55%;
	float: left;
	position: relative;
	margin: 0 0 0 1%;
}
.question .left-bg, .question .right-bg {
	background-repeat: no-repeat;
	overflow: hidden;
}
.question .left-bg {
	float: left;
	width: 56px;
	height: 119px;
	background-image: url(../images/bg-question-left.png);
}
.question .right-bg {
	width: 58px;
	height: 120px;
	background-image: url(../images/bg-question-right.png);
	float: right;
}
.question .inner { margin: 0 58px 0 56px; }
.question .sub {
	width: 100%;
	float: left;
	background: url(../images/bg-question.png) repeat-x;
	height: 120px;
}
.question .arrow {
	position: absolute;
	top: 36px;
	right: -8px;
	overflow: hidden;
}
.question .arrow a {
	display: block;
	width: 41px;
	height: 41px;
	background: url(../images/bg-question-arrow.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.question .close {
	position: absolute;
	top: 36px;
	left: -14px;
	overflow: hidden;
	width: 41px;
	height: 41px;
}
.question .close a {
	display: block;
	width: 41px;
	height: 82px;
	background: url(../images/bg-question-close.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin: -41px 0 0;
}
.question .close a:hover { margin: 0; }
.question .empty {
	float: right;
	width: 135px;
	height: 129px;
	background: url(../images/item-quest-over.png) no-repeat;
	_background: url(../images/item-quest-over.gif) no-repeat;
	overflow: hidden;
	margin: -5px -60px -4px 0;
	position: relative;
}
.reverse .empty {
	float: left;
	margin-right: 0;
	margin-left: -71px;
}
.question .descr-holder { padding: 0 70px 0 0; }
.reverse .descr-holder { padding: 0 0 0 70px; }
.question .descr {
	width: 100%;
	float: left;
	color: #fff;
	font: italic 15px/18px Calibri, "Trebuchet MS", Arial, sans-serif;
	margin: 11px 0 0 -10px;
	overflow: hidden;
	position: relative;
	display: inline;
}
.reverse .descr { margin-left: 0; }
.question h2 {
	margin: 0;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
}
.question p { margin: 0; }
.question .form-list {
	width: 100%;
	margin: 0;
	padding: 12px 0 0;
	list-style: none;
	overflow: hidden;
}
.question .form-list li {
	width: 33%;
	float: left;
}
.question .form-list li input {
	margin: 1px 0 0;
	width: 16px;
	height: 16px;
	float: left;
}
.question .form-list li label {
	float: left;
	margin: 0 0 0 6px;
}
.question .text-field { padding: 9px 10% 0 0; }
.question .text-field .wrapp {
	border: solid #a6a6a6;
	border-width: 1px 0 0 1px;
	background: #fff;
	height: 19px;
	padding: 2px 5px 0;
}
.question .text-field input {
	width: 100%;
	border-style: none;
	background: none;
	padding: 0;
	margin: 0;
	float: left;
	color: #f30372;
}
.btn-up {
	position:absolute;
	top:0;
	left:254px;
}
.btn-up a {
	display:block;
	background:url(../images/btn-up.png) no-repeat;
	_background:url(../images/btn-up.gif) no-repeat;
	width:54px;
	height:36px;
	overflow:hidden;
	text-indent:-9999px;
}
.btn-down {
	position:absolute;
	bottom:0;
	left:254px;
}
.btn-down a {
	display:block;
	background:url(../images/btn-down.png) no-repeat;
	_background:url(../images/btn-down.gif) no-repeat;
	width:54px;
	height:36px;
	overflow:hidden;
	text-indent:-9999px;
}
.boxes-holder {
	width:314px;
	padding:0 0 0 127px;
	overflow: visible;
	height: auto;
	position: absolute;
}
.block {
	width:314px;
	overflow:hidden;
}
.block-top {
	background:url(../images/box1-top.png) no-repeat;
	width:314px;
	height:20px;
	overflow:hidden;
}
.block-info {
	background:url(../images/box1-bg.png) repeat-y;
	width:314px;
	overflow:hidden;
}
.low .block-info {
	padding:0 0 9999px;
	margin:0 0 -9999px;
}
.block-info .text {
	position:relative;
	width:282px;
	padding:0 16px;
	overflow:hidden;
	margin: -10px 0 0;
}
.block .block-info h2 { margin-top: 23px; }
.block-info .text div {
	width:272px;
	padding:8px 5px 0;
	overflow:hidden;
	margin:7px 0 0;
	border-top:1px solid #bbb;
}
.block h2 {
	font:180%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#f30372;
	margin:13px 5px 0;
}
.block h3 {
	font:180%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#000;
	margin:7px 5px 0;
}
.block h4 {
	font:bold 150%/120% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#f30372;
	margin:7px 5px 0;
}
.block p {
	/*font:140%/110% Calibri, "Trebuchet MS", Arial, sans-serif;*/
	font:140%/110% "Trebuchet MS", Arial, sans-serif;
	color:#121212;
	margin:0;
}
.block p strong {
	font:bold 100%/110% Calibri, "Trebuchet MS", Arial, sans-serif;
	color:#121212;
}
.block-foot {
	background:url(../images/box1-foot.png) no-repeat;
	width:314px;
	height:18px;
	overflow:hidden;
}
.timer {
	width:314px;
	overflow:hidden;
}
.timer-top {
	background:url(../images/box2-top.png) no-repeat;
	_background:url(../images/box2-top.gif) no-repeat;
	width:314px;
	height:15px;
	overflow:hidden;
}
.timer-info {
	background:url(../images/box2-bg.png) repeat-y;
	_background:url(../images/box2-bg.gif) repeat-y;
	width:314px;
}
.timer-info:after {
	clear:both;
	display:block;
	content:"";
}
.timer-info .text {
	float:left;
	width:272px;
	padding:0 16px 0 26px;
	position:relative;
	margin:-3px 0;
}
.timer-info .text p {
	font:130%/120% Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0;
}
.timer-info .text div {
	background:url(../images/clock.png) no-repeat;
	_background:url(../images/clock.gif) no-repeat;
	padding:2px 0 1px 23px;
	min-height:16px;
	overflow:hidden;
}
* html .timer-info .text div {
	height:16px;
	overflow:visible;
}
.timer-info .text p strong {
	font:bold 100%/110% Arial, Helvetica, sans-serif;
	color:#fff;
}
.timer-foot {
	background:url(../images/box2-foot.png) no-repeat;
	_background:url(../images/box2-foot.gif) no-repeat;
	width:314px;
	height:15px;
	overflow:hidden;
}
.encore {
	position:absolute;
	bottom:25px;
	right:36px;
	z-index:200;
}
.encore a {
	display:block;
	background:url(../images/item1.png) no-repeat;
	_background:url(../images/item1.gif) no-repeat;
	width:128px;
	height:130px;
	overflow:hidden;
	text-indent:-9999px;
}
.revenir {
	position:absolute;
	bottom:109px;
	right:11px;
	z-index:300;
}
.revenir a {
	display:block;
	background:url(../images/item-quest-close.png) no-repeat;
	_background:url(../images/item-quest-close.gif) no-repeat;
	width:135px;
	height:129px;
	overflow:hidden;
	text-indent:-9999px;
}
.video {
	width: 714px;
	padding: 49px 0 0 49px;
}
.video .top-bg, .video .bot-bg {
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 18px;
}
.video .top-bg { background-image: url(../images/bg-video-top.png); }
.video .bot-bg { background-image: url(../images/bg-video-bot.png); }
.video .inner {
	background: url(../images/bg-video.png) repeat-y;
	padding: 0 16px;
	height: 1%;
}
.video .inner:after {
	content: "";
	clear: both;
	display: block;
}
.video .sub {
	width: 100%;
	float: left;
	margin: -2px 0;
	position: relative;
}
.video .descr {
	width: 201px;
	float: left;
	padding: 2px 0 0;
	/*font: 1.4em Calibri, "Trebuchet MS", Arial, sans-serif;*/
	font: 1.4em "Trebuchet MS", Arial, sans-serif;
}
.video .descr .head {
	border-bottom: 1px solid #bbb;
	padding: 0 5px 6px;
}
.video h1 {
	margin: 0;
	font: 1.29em/1.39em Calibri, "Trebuchet MS", Arial, sans-serif;
	color: #f30372;
}
.video .descr ul {
	margin: 0;
	padding: 12px 6px;
	list-style: none;
}
.video .descr ul li {
	background: url(../images/bg-bullet.gif) no-repeat 0 7px;
	text-indent: 10px;
	margin: 0 0 6px;
}
.video .player {
	width: 480px;
	float: right;
}
.video .player img { display: block; }

/****** GESTION DES LISTES DANS LES RECETTES CC260509 **************/
.block-info ul {
	margin-top:0px;
	padding-top:0px;
	padding-left: 20px;
}
.nav ul li a {
position:relative;
}
/****** PATCH CALAGE DES BLOCS ACTU CC270509 **************/

 .box {
	width:273px;
	overflow:hidden;
	/*margin:8px auto 0;*/
	margin-left: auto;
	margin-right:auto;
}


#copyright SPAN {
	display: none;
}

#header_menu{
        position:absolute;
        top:51px;
        left:247px;
        z-index:400;
        font-size: 1.2em;
        }

#header_menu li{
        display:block;float:left;margin:0;
        24px 0 0;width:140px
        }
#logo_muremino {
    margin:0;
	position:absolute;
	top:16px;
	left:7px;
	z-index:500;
    width: 266px;
    height: 80px;
}


#header_menu li:hover{
         background-color: white;
        
        opacity: 0.3;
        }