/*body {
    
  padding: 0;
  margin: 0;
  
  
  
}

a {
    
}

#wrapper {
    
    margin: 2px;
    border: solid 1px;
    background-image:url('../img/fondoColor.gif');
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
}

#header_menu{
        position:absolute;top:51px;left:247px
        }

#header_menu li{
        display:block;float:left;margin:0
        24px 0 0;width:140px
        }
        */
        
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}
body{line-height:1;color:black;background:white}ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}
#debug{position:absolute;top:10px;left:10px;color:black;cursor:pointer}
body{color:#6a6a6a;font-size:14px;background-color:#fff;font-family:"Fedra Sans Screen Regular",sans-serif;font-weight:200;font-style:normal;font-stretch:normal;line-height:20px;letter-spacing:0.02em}
.clear{clear:both}::-moz-selection{background-color:#1000d4;color:#fff}::selection{background-color:#1000d4;color:#fff}a:active{outline:none}a:focus{-moz-outline-style:none}.irma{font-family:"Irma Thin",sans-serif;font-style:normal;font-weight:normal;font-stretch:normal;letter-spacing:0.18em;text-transform:uppercase}.fedra{font-family:"Fedra Sans Screen Regular",sans-serif;font-weight:200;font-style:normal;font-stretch:normal;line-height:20px;letter-spacing:0.025em}.italic,i,em{font-family:"Fedra Sans Screen Italic",sans-serif;font-style:italic;font-weight:normal;font-stretch:normal;letter-spacing:0.05em}.selected{color:#00c}.bleu{color:#00c}.gris{color:#6a6a6a}a{color:#6a6a6a;text-decoration:none}a:hover{color:#00c}h1{font-weight:bold;font-size:24px}h2{font-size:18px;line-height:30px;padding:0
0 17px 0}
#global{background-repeat:repeat-y;width:961px;position:relative;margin:0
auto;border-top:5px solid #000;height:auto}#header,#content,#footer{float:right;width:100%}#header_wrapper,#content_wrapper,#footer_wrapper{position:relative;width:100%;height:100%;top:0;left:0}#header{height:154px}#logotype{position:absolute;width:160px;height:25px;top:40px}#logotype_wrapper{position:relative;width:160px;height:25px}#header_menu{position:absolute;top:51px;left:247px}#header_menu
li{display:block;float:left;margin:0
24px 0 0;width:140px}#pentagon_gris{position:absolute;opacity:1}#pentagon_bleu{position:absolute;opacity:0}#content{padding:0
0 0 0}#content_wrapper{}#footer{margin:70px
0 20px 0;padding:15px
0 0 0;font-size:12px;letter-spacing:0.05em;border-top:1px solid #6a6a6a}#footer_wrapper{position:relative}#footer_menu
li{display:block;float:left;padding:0
0 0 0}.footer_gauche{margin:0
24px 0 0}.footer_colophon{position:absolute;right:0px;padding:0}#footer_adresse{float:left;margin:0
24px 0 0;padding:0
0 0 20px;background-image:url(/img/pentagon_bleu_footer.png);background-position:left 1px;background-repeat:no-repeat}#footer_adresse
a{color:#00C}#contenu_home{width:960px}.homebox{margin:0
0 20px 0;float:left;overflow:hidden}.homebox
.homebox_squarre{width:18px;height:18px;position:absolute;bottom:-5px;right:-5px;background-image:url('/img/home_squarre.png')}.homebox
.homebox_squarre_static{width:17px;height:17px;position:absolute;bottom:-3px;right:-3px;background-image:url('/img/home_squarre_static.gif');z-index:1000}.homecol1{width:140px;height:300px}.homecol2{width:304px;height:140px}.homecol3{width:304px;height:300px}.homelittlesquarre{height:140px;width:140px;background-color:#00C;position:relative;cursor:pointer}.homelittlesquarre2{height:139px;width:139px;position:relative;border:1px
solid #00C}#tampon_bleu{opacity:0;position:absolute}#tampon_blanc{opacity:1;position:absolute}#homebox_title{text-transform:uppercase;font-size:30px;line-height:40px}.close_description{position:absolute;top:31px;right:410px;color:white;font-size:25px;cursor:pointer}#projet_work_list{font-size:12px;line-height:20px;width:223px;float:left;margin:1px
0 0 0}#projet_work_list_wrapper{position:absolute;top:6px;width:223px}#projet_content{float:left;width:500px;width:714px;margin:0
0 0 23px}#infos_projet{position:absolute;right:0;width:365px;padding:20px
20px 0 0}#infos_projet
h1{text-align:left;color:#FFF;font-size:50px;line-height:60px;word-wrap:break-word}#infos_projet
p{color:#fff;letter-spacing:0.02em}.projet_media{width:714px;overflow:hidden;margin:0
0 15px 0}.titre_categorie{margin:20px
0 0 0;font-size:13px}.titre_projet{letter-spacing:4px;margin:10px
0 8px 0}.description_projet{font-size:12px}.description_projet
a{text-decoration:underline}.description_projet
sup{font-size:smaller;vertical-align:top}.description_projet
sub{font-size:smaller;vertical-align:bottom}#next{height:47px;width:30px;background-image:url('/img/droite.gif');background-position:center center;background-repeat:no-repeat;position:fixed;z-index:0;top:50%;right:40px;margin:-20px 0 0 0;cursor:pointer;z-index:2}#prev{height:47px;width:30px;background-image:url('/img/gauche.gif');background-position:center center;background-repeat:no-repeat;position:fixed;z-index:0;top:50%;left:40px;margin:-20px 0 0 0;cursor:pointer;z-index:2}#next_e{height:47px;width:30px;background-image:url('/img/droite_e.gif');background-position:center center;background-repeat:no-repeat;position:fixed;z-index:0;top:50%;right:40px;margin:-20px 0 0 0;cursor:pointer;opacity:0;z-index:0}#prev_e{height:47px;width:30px;background-image:url('/img/gauche_e.gif');background-position:center center;background-repeat:no-repeat;position:fixed;z-index:0;top:50%;left:40px;margin:-20px 0 0 0;cursor:pointer;opacity:0;z-index:0}#colophon_colonne_1{float:left;width:575px;margin:0
0px 20px 0}#colophon_colonne_1
p{font-size:12px;margin:0
0 20px 0;letter-spacing:0.02em}#colophon_colonne_1
i{font-size:12px;margin:0
0 20px 0;letter-spacing:0.02em}#colophon_colonne_1
a{text-decoration:underline}.uni_picto{font-family:verdana,arial,helvetica,sans-serif;font-size:18px;line-height:10px;vertical-align:text-top;cursor:default}#a_propos_0{float:left;width:551px;margin:9px
24px 4px 0}#a_propos_2{float:right;width:386px;margin:9px
0 0 0}#a_propos_3{width:551px;margin:21px
0 0 0}#a_propos_3
.nous_aimons_col{float:left;width:223px;margin:0
24px 0 0;font-size:12px}.nous_aimons{cursor:default}#a_propos_3
.nous_aimons_last_col{float:left;width:223px;margin:0
0 0 0;font-size:12px}#barre_separation_a_propos_3{width:100%;height:20px;background-image:url(/img/barre_bg.gif);background-repeat:repeat;margin-bottom:30px}.equipe_liste{margin:0
0 43px 0;font-size:12px}.membre{margin:0
0 10px 0}.domaine{letter-spacing:0.05em}.nom{position:relative}#refs_colonne_1{float:left;width:575px;margin:9px
0px 20px 0}#refs_colonne_2
ul{float:left;width:140px;margin:0
25px 0 0;font-size:12px;line-height:20px;cursor:default}#refs_colonne_2{float:left;margin:9px
0 0 0;width:380px}#refs_colonne_2
h2{margin:2px
0 0 0}#refs_books{margin:4px
0 0 0}.conteneur_book{float:left;margin:0
0 25px 0;height:175px;width:180px}.book{background-color:#00C;border:1px
solid #00C;height:175px}#book_etapes_185{background-image:url('/img/refs/etapes_1.gif');width:135px}#book_wdibc5{background-image:url('/img/refs/wdibc_5.gif');width:138px}#book_etapes_152{background-image:url('/img/refs/etapes_2.gif');width:135px}#book_taide{background-image:url('/img/refs/taide.gif');width:133px}#book_taide_2{background-image:url('/img/refs/taide_2.gif');width:134px}#book_blogs{background-image:url('/img/refs/blogs_mad.gif');width:135px}#book_bid{background-image:url('/img/refs/bid.gif');width:131px}#book_wdi_8{background-image:url('/img/refs/wdi_8.gif');width:88px}#book_azimut_35{background-image:url('/img/refs/azim35.gif');width:116px}#book_amis_2{background-image:url('/img/refs/amis_2.gif');width:124px}#book_bid_2010{background-image:url('/img/refs/bid_2010.gif');width:129px}#book_graph_49{background-image:url('/img/refs/graph_49.gif');width:124px}.book_shadow{position:relative;background-color:#909090;height:100%;width:100%;z-index:10;margin:6px
0 0 6px;z-index:-1}#contact_colonne_1{float:left;width:304px;margin:9px
24px 4px 0;font-size:12px}#contact_colonne_2{float:left;width:632px;margin:9px
0 4px 0;font-size:12px}#contact_colonne_2_col1{float:left;width:304px;margin:0
24px 44px 0}#contact_colonne_2_col2{float:left;width:304px;margin:0
0 44px 0}#map_canvas{width:632px;height:340px}#contactatpentagon{cursor:pointer}#form_contact input, #form_contact
textarea{border:0;width:303px;font-size:12px;line-height:20px;margin:10px
0 0 0;color:#6a6a6a;border-bottom:1px solid #c0c0c0}#form_contact
textarea{height:221px}#form_submit{background-color:#FFF;text-align:left;padding:0;color:#6a6a6a}#form_submit:hover{color:#00C;cursor:pointer}#result_email{margin:20px
0 0 0}#recherche_dev_text{}#recherche_dev_text
.column{width:222px;float:left;margin:0
22px 0 0;padding:0
2px 0 2px;text-align:left}#recherche_dev_text
p{font-size:11px;padding:0
0 5px 0}#recherche_dev_text
ul{margin:5px
0 0 0}#recherche_dev_text
li{list-style-type:disc;list-style-position:outside;font-size:11px;padding:0
0 0 5px;margin:0
0 0 12px}#message{position:fixed;top:-1000px;height:35px;border-top:2px solid #fff;background-color:#00C;z-index:1000}#message_wrapper{width:960px;margin:0
auto;padding:8px
0 0 0;color:#fff;font-size:12px;letter-spacing:0.08em}#message_wrapper
a{color:#fff}#message_wrapper a:hover{text-decoration:underline}.ui-tooltip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:200px;min-width:50px;font-size:12px;line-height:20px;z-index:15000}.ui-tooltip-fluid{display:block;visibility:hidden;position:static !important;float:left !important}.ui-tooltip-content{position:relative;padding:3px
9px 3px 9px;overflow:hidden;border-width:1px;border-style:solid;text-align:left;word-wrap:break-word;overflow:hidden}.ui-tooltip-titlebar{position:relative;min-height:14px;padding:5px
35px 5px 10px;overflow:hidden;border-width:1px 1px 0;border-style:solid;font-weight:bold}.ui-tooltip-titlebar+.ui-tooltip-content{border-top-width:0px !important}
/*! Default close button class */
.ui-tooltip-titlebar .ui-state-default{position:absolute;right:4px;top:50%;margin-top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid}* html .ui-tooltip-titlebar .ui-state-default{top:16px}.ui-tooltip-titlebar .ui-icon,
.ui-tooltip-icon .ui-icon{display:block;text-indent:-1000em}.ui-tooltip-icon, .ui-tooltip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.ui-tooltip-icon .ui-icon{width:18px;height:14px;text-align:center;text-indent:0;font:normal bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}.ui-tooltip-focus{}.ui-tooltip-hover{}
/*! Blue tooltip style */
.ui-tooltip-blue .ui-tooltip-titlebar,
.ui-tooltip-blue .ui-tooltip-content{border-color:#00C;color:#FFF}.ui-tooltip-blue .ui-tooltip-content{background-color:#00C}.ui-tooltip-blue .ui-tooltip-titlebar{background-color:#00C}.ui-tooltip-blue .ui-state-default .ui-tooltip-icon{background-position:-2px 0}.ui-tooltip-jtools .ui-tooltip-titlebar{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"}.ui-tooltip-jtools .ui-tooltip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"}.ui-tooltip-jtools .ui-tooltip-titlebar,
.ui-tooltip-jtools .ui-tooltip-content{background:transparent;color:white;border:0
dashed transparent}.ui-tooltip-jtools .ui-tooltip-icon{border-color:#555}.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover{border-color:#333}.ui-tooltip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0, 0, 0, 0.4);-moz-box-shadow:4px 4px 5px rgba(0, 0, 0, 0.4);box-shadow:4px 4px 5px rgba(0, 0, 0, 0.4)}.ui-tooltip-cluetip .ui-tooltip-titlebar{background-color:#87876A;color:white;border:0
dashed transparent}.ui-tooltip-cluetip .ui-tooltip-content{background-color:#D9D9C2;color:#111;border:0
dashed transparent}.ui-tooltip-cluetip .ui-tooltip-icon{border-color:#808064}.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover{border-color:#696952;color:#696952}.ui-tooltip-tipsy{border:0}.ui-tooltip-tipsy .ui-tooltip-titlebar,
.ui-tooltip-tipsy .ui-tooltip-content{_margin-bottom:0;.margin-bottom: 0;background:transparent;background:rgba(0, 0, 0, .87);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";color:white;border:0px
transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:bold;line-height:16px;text-shadow:0 1px black}.ui-tooltip-tipsy .ui-tooltip-titlebar{padding:6px
35px 0 10}.ui-tooltip-tipsy .ui-tooltip-content{padding:6px
10}.ui-tooltip-tipsy .ui-tooltip-icon{border-color:#222;text-shadow:none}.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover{border-color:#303030}.ui-tooltip-tipped{}.ui-tooltip-tipped .ui-tooltip-titlebar,
.ui-tooltip-tipped .ui-tooltip-content{border:3px
solid #959FA9;filter:none;-ms-filter:none}.ui-tooltip-tipped .ui-tooltip-titlebar{background:#3A79B8;background-image:-moz-linear-gradient(top, #3A79B8, #2E629D);background-image:-webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";color:white;font-weight:normal;font-family:serif;border-bottom-width:0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0}.ui-tooltip-tipped .ui-tooltip-content{background-color:#F9F9F9;color:#454545;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px}.ui-tooltip-tipped .ui-tooltip-icon{border:2px
solid #285589;background:#285589}.ui-tooltip-tipped .ui-tooltip-icon .ui-icon{background-color:#FBFBFB;color:#555}.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{filter:none;-ms-filter:none}

/**********************/
/*   clases mias     */
/*********************/

